# Base de datos
DATABASE_URL=postgresql://usuario:password@localhost:5432/nombre_bd

# Seguridad JWT
JWT_SECRET=tu_clave_secreta_aqui
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60

# Entorno
APP_ENV=development
APP_NAME=Second Serving Backend

# Firebase
FIREBASE_CREDENTIALS_PATH=

# Google Cloud Vision
GOOGLE_APPLICATION_CREDENTIALS=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=